@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/tópicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);


:root{
    --cor-de-fundo: #c4c4c4;
    --branco: white;
    --laranja: #EB9B00;
    --azul-dregrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "poppins";
    --color-card: #002F52;
    --black: #000000;
    --amarelo-botao: #EB9B00;
    --fonte-secundaria: "Josefin Sans";
    




    
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

